# Backend Port
PORT=5000

# MongoDB URI (Atlas or Local)
MONGO_URI=mongodb://127.0.0.1:27017/hospital_management

# JWT Secrets (replace with strong random strings in production)
JWT_ACCESS_SECRET=your_super_secret_access_key
JWT_REFRESH_SECRET=your_super_secret_refresh_key

# Node Environment (development/production)
NODE_ENV=development
