POSTGRES_USER=healthforecast
POSTGRES_PASSWORD=healthforecast123
POSTGRES_DB=healthforecast_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
MONGODB_URL=mongodb://mongodb:27017
VITE_API_URL=http://localhost:8000
