.profile-page{
    padding:40px;
    text-align:center;
}

.profile-page img{
    width:140px;
    border-radius:50%;
}

.profile-page button{
    margin-top:20px;
    padding:12px 30px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}